<ul class="nav nav-tabs nav-justified">
  <% Group.order(:created_at).each do |group| %>
    <li <% if params[:controller] == 'groups' && params[:id] == group.id.to_s %>class='active'<% end %>>
      <%= link_to group.name, group %>
    </li>
  <% end %>
</ul>
