<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default disabled">25-40 Very Poor</button>
  <button type="button" class="btn btn-default disabled">40-50 Poor</button>
  <button type="button" class="btn btn-default disabled">50-60 Average</button>
  <button type="button" class="btn btn-default disabled">60-70 Good</button>
  <button type="button" class="btn btn-default disabled">70-80 Very Good</button>
  <button type="button" class="btn btn-default disabled">80+ Excellent</button>
</div>
