<div class="pull-left">
  <h4>
    Personal AppRaisal v0.1 beta - &copy; Alaraby Television Network Ltd.<br>
    <small>Developed by Przemyslaw Markowski, May 2020</small>
  </h4>
  <h4>
    Help & Support:<br>
    <small>Duty Broadcast Engineer, mobile +44 (0)7917 077 529 internal call 4001<br>
    Duty IT Engineer, mobile +44 (0)7917 068 243 internal call 4002<br>
    Email: <%= mail_to "sdu@alaraby.tv", "Software Development Unit", subject: "Personal AppRaisal Application" %></small>
  </h4>
</div>