<div class="jumbotron">
  <h2>Welcome to AppRaisal!</h2>
  <blockquote>  
    <p>A Performance Appraisal that is conducted effectively leads to greater employee morale, higher productivity, creating a positive culture and improved overall performance and effectivness of an organization.</p>
    <footer><cite>Kumar Parakala</cite></footer>
  </blockquote>
  <p>
    <%= link_to @group, class: "btn btn-success" do %>
      <span class="glyphicon glyphicon-list"></span>
      Groups
    <% end %>
  </p>
</div>